.App {
  text-align: center;
}

#header{
  width: 100%;
  overflow: hidden;
  background-color: #dde1e0;
}

#logotipo{
  width: 10%;
  float: left;
}

#botonesInicio{
  float: right;
  width: 20%;
  margin-top: 30px;
}

#botonesInicio button{
  margin-left: 10px;
  background-color: #ed5c25;
  padding: 10px;
  border-radius: 10px;
}

#selectorCategorias{
  margin-top: 20px;
  margin-right: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

#listaHerramientas{
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#barraBusqueda {
  display: flex;
  justify-content: center;
  align-items: center;
}

#barraBusqueda input{
  margin-top: 20px;
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
}

#barraBusqueda button{
  margin-top: 20px;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;
  background-color: #ed5c25;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.imagenHerramienta{
  height: 290px;
}

.tarjeta img{
  margin-top: 10px;
  height: 280px;
  width: 280px;
  border-radius: 10px;
}

.tarjeta{
  height: 350px;
  width: 300px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #dde1e0;
  text-decoration: none;
}

.tarjeta p{
  color: black;
}

#cajaHerramienta {
  display: flex;
  flex-wrap: wrap;
}

#zona1 {
  flex-basis: 50%;
}

#zona2 {
  flex-basis: 50%;
}

.inputsforms{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputsforms input{
  width: 200px;
}

.mapa{
  width: 500px;
  height: 300px;
}

.herramientaLista{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login h2{
  font-size: 40px;
}

.formularioLogin{
  background-color: #dde1e0;
  width: 25%;
  margin: auto;
  border-radius: 20px;
}

.formularioLogin input{
  margin-top: 20px;
  width: 300px;
  height: 25px;
  border-radius: 10px;
}


.loginRegister{
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: 30px;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.registerSignIn{
  margin-top: 30px;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.loginEnter{
  margin-top: 30px;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #ed5c25;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#registro h2{
  font-size: 40px;
}
