.App {
  text-align: center;
}

#header{
  width: 100%;
  overflow: hidden;
  background-color: #dde1e0;
}

#logotipo{
  width: 10%;
  float: left;
}

#botonesInicio{
  float: right;
  width: 20%;
  margin-top: 30px;
}

#botonesInicio button{
  margin-left: 10px;
  background-color: #ed5c25;
  padding: 10px;
  border-radius: 10px;
}

#selectorCategorias{
  margin-top: 20px;
  margin-right: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

#listaHerramientas{
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#barraBusqueda {
  display: flex;
  justify-content: center;
  align-items: center;
}

#filtroNombre{
  margin-top: 20px;
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
}

#botonfiltroNombre{
  margin-top: 20px;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;
  background-color: #ed5c25;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.imagenHerramienta{
  height: 290px;
}

.tarjeta img{
  margin-top: 10px;
  height: 280px;
  width: 280px;
  border-radius: 10px;
}

.tarjeta{
  height: 350px;
  width: 300px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #dde1e0;
  text-decoration: none;
}

.tarjeta p{
  color: black;
}

#cajaHerramienta {
  display: flex;
  flex-wrap: wrap;
}

#zona1 {
  flex-basis: 50%;
}

#zona2 {
  flex-basis: 50%;
  text-align: left;
}

#fotoHerramientaPrincipal{
  margin-top: 30px;
  margin-right: 80px;
  border-radius: 10px;
}

#precio{
  font-size: 30px;
}

#encabezadoPagHerramienta{
  display: flex;
  flex: wrap;
}

#encabezadoPagHerramienta p{
  margin-top: 28px;
  margin-left: 70px;
}

#iraUser{
  display: flex;
  flex-flow: row wrap;
  margin-left: 120px;
  margin-top: 20px;
  width: 400px;
}

#iraUser img{
  border-radius: 50px;
  border: solid #ed5c25;
}

#iraUser p{
  font-size: 18px;
  margin-top: 42px;
  margin-left: -50px;
  flex-basis: 50%;
}

#listaRecomendados{
  margin-top: 30px;
  margin-left: 100px;
  background-color: #f1f3f2;
  padding-right: 1300px;
  border-radius: 20px;
}

#introRecomendados{
  margin-right: -10px;
}

#tarjetasRecomendados{
  margin-left: 40px;
}

.inputsforms{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputsforms input{
  width: 200px;
}

.mapa{
  width: 500px;
  height: 300px;
}

.login h2{
  font-size: 40px;
}

.formularioLogin{
  background-color: #dde1e0;
  width: 25%;
  margin: auto;
  border-radius: 20px;
}

.formularioEditar{
  background-color: #dde1e0;
  width: 35%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.formularioEditar label{
  margin-top: 25px;
  flex: 1;
  margin-right: 10px;
  text-align: left;
}

.formularioEditar input{
  margin-top: 20px;
  width: 300px;
  height: 25px;
  border-radius: 10px;
  
}

#editarUsuario h2{
  font-size: 40px;
}

.formularioLogin input{
  margin-top: 20px;
  width: 300px;
  height: 25px;
  border-radius: 10px;
}


.loginRegister{
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: 30px;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.registerSignIn{
  margin-top: 30px;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.loginEnter{
  margin-top: 30px;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #ed5c25;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#registro h2{
  font-size: 40px;
}

.inputEditar{
  display: flex;
  flex-direction: row;
}

#dashboard{
  display: flex;
  flex-direction: column;
}

.dashboardZona1{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.dashboardZona1 img{
  margin-left: 80px;
}

#dashboardDatos{
  margin-left: 40px;
}

#dashboardDatos h2{
  font-size: 40px;
}

#subirDashboard{
  margin-top: 75px;
  text-align: right ;
  margin-right: 100px;
}

.loginSubirDashboard{
  margin-top: 30px;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 175px;
  height: 65px;
  border-radius: 10px;
  border: solid black;
  background-color: #ed5c25;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#dashboardZona2{
  margin-top: 40px;
  text-align: left;
  margin-left: 80px;
  background-color: #dde1e0;
  border-radius: 20px;
  margin-right: 80px;
}

#dashboardZona2 p{
  margin-left: 20px;
}

#tituloDashboardZona2{
  font-size: 20px;
}

#dashboardZona3{
  margin-top: 40px;
  text-align: left;
  margin-left: 80px;
  background-color: #dde1e0;
  border-radius: 20px;
  margin-right: 80px;
}

#dashboardZona3 img{
  border-radius: 10px;
}

#tituloDashboardZona3{
  margin-left: 20px;
  font-size: 20px;
}

.herramientaLista{
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 20px;
}

.herramientaLista p{
  margin-left: 35px;
}

.botonesListaMisHerramientas{
  margin-top: 20px;
  margin-left: 100px;
  float: right;
}

.botonesListaMisHerramientas button{
  margin-right: 40px;
}

.profilePhoto{
  border-radius: 1000px;
  border: solid gainsboro;
}

#otrasHerramientas{
  margin-top: 70px;
  background-color: #f1f3f2;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 20px;
}

#otrasHerramientasTitulo{
  text-align: left;
  margin-left: 60px;
  font-size: 20px;
}

#otrasHerramientasTarjetas{
  margin-top: 40px;
}

.SelectorEditar{
  margin-top: 20px;
}

.SelectorEditar select{
  width: 90px;
  height: 30px;
  border-radius: 10px;
}

#filtroPrecio{
  width: 200px;
  height: 20px;
  border-radius: 20px;
}

#botonFiltroPrecio{
 margin-right: 50px;
 margin-left: 10px;
 height: 30px;
 border-radius: 20px;
 background-color: black;
 color: white;
}